{% load i18n %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{% trans 'html_title' %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">{% trans 'register_project' %}</a>
      <a class="nav-item nav-link" href="#">{% trans 'find_project' %}</a>
      <a class="nav-item nav-link" href="#">{% trans 'voice_actor_list' %}</a>
    </div>
  </div>
</nav>